:global(.rootContainer) .gridWrapper {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
:global(.rootContainer) .gridContent {
    align-items: center;
    flex-direction: column;
}
